body{
    background-color: aqua;
 
}
.img1{
    width: 400px;
    height: 500px;
    margin-top: -250px;
}
.img3{
    width: 500px;
    height: 500px;
    margin-top: -150px;
    margin-left:50% ;
}

.div1{
    width:350px ;
    height: 450px;
    margin: auto;
    background-color: aliceblue;
    border-radius: 20px;
    margin-top: -150px;
    text-align: center;
}
.img2{
    border-radius: 20px;
}
.img4{
    width: 100px;
    height: 100px;
    border-radius: 60px;
    margin-top: -50px;
    border: 5px solid white;   
}
.p1{
    color: rgb(123, 130, 131);
}
.parent{
    display: flex;
    margin: 10px;
}
.div3{
    margin: auto;
}